
<div class="nav">
  {% if page.previous.url %} 
  <span style="font-style: normal">&lArr;</span><a class="prev" href="{{page.previous.url}}">Previous:
  {{page.previous.excerpt}} ({{page.previous.date | date: '-%m-%d'}})</a><br/>
  {% endif %} 
  {% if page.next.url %} 
  <span style="font-style: normal">&rArr;</span><a class="prev" href="{{page.next.url}}">Next:
  {{page.next.excerpt}} ({{page.next.date | date: '-%m-%d'}})</a>
  {% endif %} 
</div>

<div class="nav">
  <a href="/blog.html">Back to blog</a> | <a href="/">Back to top</a>
</div>
