<!DOCTYPE html>

<html>

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="DESCRIPTION" content="{{ page.descr }}" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css" />
    <link rel="stylesheet" href="/css/github-dark.css" type="text/css" />
    <link rel="stylesheet" href="/css/default.css" type="text/css" />
  </head>

  <body>
    
    {{ content }}

    {% include footer.html %}
    
  </body>
  
</html>
